@font-face {
    font-family: Helvetica;
    src: url(./assets/fonts/Helvetica.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    min-height: 100vh;
    background: url(./assets/images/user.jpg);
}

.center {
    display: grid;
    place-content: center;
}

main {
    width: 95%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 45px;
    position: relative;
}

main img {
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
    -webkit-user-drag: none;
}

.image-view {
    width: 100%;
    height: 700px;
    position: relative;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header {
    top: 2em;
    width: 100%;
    z-index: 111;
    position: absolute;
}

header section {
    font-size: 0.9em;
    color: #efefef;
    width: fit-content;
    line-height: 0em;
    padding: 0.4em 1em;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    background: rgba(241, 241, 241, 0);
    box-shadow: rgba(255, 255, 255, 0.233) 0px 10px 60px -12px inset, rgba(227, 227, 227, 0.123) 0px 18px 36px -18px inset, rgba(255, 255, 255, 0.301) 0 -3px 8px inset, 0px 0.5px 0px #ffffff inset;
}

.profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 0.5em;
}

header .icon {
    margin-right: 0.4em;
}

h1 {
    margin: 0.5em;
    color: white;
    font-size: 1.7em;
}

footer {
    bottom: 0;
    left: 50%;
    width: 100%;
    z-index: 111;
    margin: 0 auto;
    padding: 2em 2.5em;
    padding-top: 5em;
    position: absolute;
    backdrop-filter: blur(7px);
    transform: translateX(-50%);
    background: rgba(209, 209, 209, 0.363);
    mask: linear-gradient(to top, black 61%, transparent 100%);
}

button {
    outline: none;
    font-size: 1.2em;
    padding: 0.5em 2em;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: white;
    border-top: solid 1px #ffffff;
    background: rgba(241, 241, 241, 0);
    box-shadow: rgba(255, 255, 255, 0.233) 0px 10px 60px -12px inset, rgba(227, 227, 227, 0.123) 0px 18px 36px -18px inset, rgba(255, 255, 255, 0.301) 0 -3px 8px inset;
}

.text-view h2 {
    color: white;
    font-size: 1.1em;
}

.text-view span {
    color: #e9e9e9;
    font-size: 0.9em;
}

.flex {
    display: flex;
}

.FY-center {
    align-items: center;
}

.F-center {
    align-items: center;
    justify-content: center;
}

.FW {
    flex-direction: column;
}

.F-space {
    justify-content: space-between;
}