* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
}

.center {
    display: grid;
    place-content: center;
}

main {
    width: 95%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 45px;
    position: relative;
}

main img {
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
    -webkit-user-drag: none;
}

.image-view {
    width: 100%;
    height: 600px;
    position: relative;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header {
    top: 2em;
    width: 100%;
    z-index: 111;
    position: absolute;
}

header section {
    color: #efefef;
    width: fit-content;
    padding: 0.2em 1em;
    border-radius: 28px;
    background: rgba(241, 241, 241, 0.231);
    backdrop-filter: blur(5px);
    box-shadow: rgb(255 255 255 / 49%) 0px 10px 60px -12px inset, rgb(227 227 227 / 24%) 0px 18px 36px -18px inset, #ffffff8a 0 -3px 8px inset;
}

header .icon {
    margin-right: 0.5em;
}

footer {
    width: 100%;
    position: absolute;
}

.flex {
    display: flex;
}

.FY-center {
    align-items: center;
}

.F-center {
    align-items: center;
    justify-content: center;
}